<!DOCTYPE html>
<html lang="pt-br">
{% load text_filters %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Contrato Hora-aula</title>
</head>

<body style="text-align: justify; margin: 0 auto; font-family: 'Roboto', sans-serif; font-style: normal;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items:center">     
    <img style="width: 25rem; height: 6rem; " src="https://upload.wikimedia.org/wikipedia/commons/0/05/SENAI_logo_2024.png">
      <h3 style="text-align: center;">
        CONTRATO DE PRESTAÇÃO DE SERVIÇOS Nº {{ id }}
      </h3>
    </div> 
    <div style="display: flex; flex-direction: column;">
      <p style="margin-block: 0.5rem; font-size: 0.75rem;">Pelo presente instrumento particular de contrato as partes abaixo qualificadas:</p> 
        <div style="margin-top: 0.5rem; font-size: 0.75rem;">
          <strong>Contratante:</strong>
          <span>
            SENAI Itumbiara - GO, localizado em Rua Olívia Garcia Fagundes, 32 St. Paranaiba
        </span> 
        </div>
        <div style="font-size: 0.75rem;">
          <strong>Contratado:</strong>
          <span>{{ prestador }}, localizado em Itumbiara - GO</span>
        </div>
      <br>
      <strong style="text-align: center; margin-block: 0.5rem;">CLÁUSULAS</strong>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA PRIMEIRA - DO OBJETO: </strong>
        <span>O presente contrato tem como objeto a prestação de serviços de {{ servico }}, conforme especificado no processo administrativo Nº {{ processo }}, a ser realizado no evento ocorrido em {{ evento }}.</span> 
      </div>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA SEGUNDA - DAS OBRIGAÇÕES DO CONTRATADO: </strong>
        <span>O contratado se compromete a realizar os serviços descritos, com carga horária total de {{ carga_horaria }} horas, no período de {{ data_inicio }} a {{ data_termino }}, conforme cronograma previamente acordado.</span>
      </div>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA TERCEIRA – DA REMUNERAÇÃO: </strong>
        <span>Pela prestação dos serviços, o contratante pagará ao contratado o valor de R$ {{ valor_hora_aula|floatformat:"2g"}} por hora-aula, totalizando o valor de R$ {{ total_valor|floatformat:"2g" }} ({{ total_valor|float_to_words }} reais), a ser pago conforme as condições estabelecidas no cronograma de pagamento.</span>
      </div>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA QUARTA – DAS OBRIGAÇÕES DO CONTRATANTE: </strong>
        <span>O contratante se compromete a fornecer os recursos necessários para a execução dos serviços, bem como realizar o pagamento conforme estipulado na cláusula anterior.</span>
      </div>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA QUINTA – DA RESCISÃO: </strong>
        <span>O presente contrato poderá ser rescindido por qualquer das partes, mediante aviso prévio de 30 (trinta) dias, ou imediatamente em caso de descumprimento de qualquer cláusula contratual.</span>
      </div>
      <div style="margin-block-end: 0.3rem; font-size: 0.75rem;">
        <strong>CLÁUSULA SEXTA – DAS DISPOSIÇÕES GERAIS: </strong>
        <span>
          <ol style="font-style: italic;">
            <li>O contratado declara possuir as qualificações necessárias para a execução dos serviços.</li>
            <li>Este contrato é firmado em caráter personalíssimo, sendo vedada a sua transferência ou cessão a terceiros.</li>
            <li>Fica eleito o foro da comarca de Itumbiara - GO, com exclusão de qualquer outro, por mais privilegiado que seja, para dirimir quaisquer dúvidas ou litígios decorrentes deste contrato.</li>
          </ol>
          <p>E, por estarem assim justos e contratados, assinam o presente instrumento em duas vias de igual teor e forma, na presença de duas testemunhas.</p> 
        </span> 
      </div>
      <strong style="text-align: center; margin-block: 0.5rem;">Itumbiara - GO, {{ data_inicio }}</strong>
      <strong style="text-align: center; margin-block-end: 0.3rem;">ASSINATURAS</strong>
      <div style="display: flex; flex-direction: row; justify-content: space-between; margin-block-end: 0.3rem;">
        <strong>Contratante: ___________________________</strong> 
        <strong>Contratado: ____________________________</strong> 
      </div>  
    </div>
</body>
</html>
