/* Overriding datatables css rules */

div.dt-container.dt-empty-footer tbody>tr:last-child>* {
  border-bottom: 0px solid rgba(0, 0, 0, 0);

}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  padding: 10px;
  padding-right: 10px;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(90deg, #4285F4, #F4B400, #0F9D58);
  text-align: center;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center;
  border-bottom: 1px solid white;
}

div.relative {
  transform: scale(1);
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center;
}

/* Overrriding Internatinoal Telephone Number css rules */
.iti {
  position: relative;
  display: block;
}
