<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Listar Professor</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="{% static 'js/fixes.js' %}" defer></script>
    <script src="{% static 'js/async.js' %}" defer></script>
    <link type="image/x-icon" rel="icon" href="{% static 'img/senai-icon.png' %}">
</head>

<body>
    <!-- Navbar -->
    <div class="bg-blue-700 pb-80 relative z-0 flex flex-col justify-left">
      <div>
        <img class=" absolute -translate-x-15" src="{% static 'img/senai.png' %}" title="Serviço Nacional de Aprendizagem Industrial">
      </div>
      <!-- Nav Query -->
      <div class="flex translate-x-120 mt-4 absolute hover:text-white gap-10 align-left"> 
        <!-- Nav Query -->
         <span class="flex opacity-65 bg-blue-800 p-4 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/cpf.png' %}">
          <div class="ml-2 translate-y-1.5 text-white">
             {% if teacher_cpf_percentage == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Pessoa Física</p>
            {% endif %}
 
            {% if teacher_cpf_percentage > 0 %}
            <strong class="text-5xl">{{ teacher_cpf_percentage }}%</strong>
            <p class="text-xl">Pessoa Física</p> 
            {% endif %}  
          </div>
        </span>

        <!-- Nav Query -->
         <span class="flex opacity-65 bg-blue-800 p-4 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/encpj.webp' %}">
          <div class="ml-2 translate-y-1.5 text-white">
            {% if teacher_cnpj_percentage == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Pessoa Jurídica</p>
            {% endif %}
 
            {% if teacher_cnpj_percentage > 0 %}
            <strong class="text-5xl">{{ teacher_cnpj_percentage }}%</strong>
            <p class="text-xl">Pessoa Jurídica</p> 
            {% endif %} 
          </div>
        </span>
      </div>
      <!-- Nav Query -->
      <div class=" absolute self-left translate-x-20 translate-y-30">
        <div class="avatar-preview rounded-full w-[120px] h-[120px] border border-dashed border-white"></div>
        <div class="text-center">
          <div class="mt-4 flex flex-col justify-left text-sm text-gray-600"> 
            <strong class="text-2xl text-white -translate-x-3 -translate-y-1">{{ user_name }}</strong>
            <strong class="text-md text-gray-400 -translate-x-3">{{ user_email }}</strong>
            

          </div>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col">
        <div class="flex flex-1 bg-gray-50 pb-100">
            <!-- Barra lateral -->
            <aside class="w-56 p-4 text-gray-900 translate-x-3 flex flex-col justify-items-center">
                <ul class="space-y-2">
                    <!-- Links de navegação -->
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="house" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Home</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menucriarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="user-plus" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Adicionar professor</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menulistarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="list" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Listar professor</span>
                        </a>
                    </li>
                    <li>
                        <!-- Dropdown -->
                        <div class="flex flex-col hover:bg-blue-700 hover:text-white rounded-lg transition-all align-center">
                            <div class="w-full">
                                <button 
                                    id="menu-button" 
                                    aria-expanded="true" 
                                    aria-haspopup="true" 
                                    class="flex items-center w-full p-3 rounded-lg cursor-pointer">
                                    <i data-lucide="dollar-sign" class="wr-2 duration-700 transition-all"></i>
                                    <span class="ml-2 whitespace-nowrap text-sm">Contratos</span>
                                    <i data-lucide="chevron-down" class="translate-x-13"></i>
                                </button>
                            </div>
                            <div 
                                id="dropdown" 
                                class="hidden -translate-y-1 underline hover:text-white rounded-lg transition-all" 
                                role="menu" 
                                aria-orientation="vertical" 
                                aria-labelledby="menu-button">
                                <div class="py-2" role="none">
                                    <a 
                                        href="{% url 'menuhistoricopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Histórico</a>
                                    <a 
                                        href="{% url 'menugerarcontratopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Gerar contrato</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <a 
                        href="{% url 'menuiniciopage' %}" 
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-green-700 hover:text-white transition-all">
                        <i data-lucide="wrench" class="duration-700 transition-all"></i>
                        <span class="flex-1 ml-2 whitespace-nowrap text-sm">Configurações</span>
                      </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-red-700 hover:text-white transition-all">
                            <i data-lucide="door-open" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Sair</span>
                        </a>
                    </li>
                </ul>
            </aside>

<!-- Conteúdo principal -->
<div class="w-4/5 rounded-4xl shadow-xl h-full -translate-x-5.5 -translate-y-35 ml-20 bg-white z-10">
  <div class="px-6 py-4 grid grid-rows-1">
    
    <div class="font-bold text-xl row-span-1">
      <h2>Listar professor</h2>
      <p class="text-gray-700 text-base">
        Informações dos professores cadastrados no sistema.
      </p>
    </div>
    {% for p in professor %}
    <div class="mt-10 grid grid-cols-12 gap-x-5 gap-y-8 sm:grid-cols-5">
      <div class="col-span-1">
        <div id="{{ p.id }}" class="hover:bg-none bg-center bg-origin-border bg-size=[auto_200px] -translate-y-5 rounded-full w-[200px] h-[200px] border border-dashed hover:border hover:border-dashed relative flex flex-col justify-center cursor-pointer hover:bg-transparent z-10">
          <div class="absolute inset-0 flex flex-col justify-center -translate-y-2 text-center text-sm text-gray-600 opacity-0 hover:opacity-100">
            <svg class="mx-auto size-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
            </svg>
            <div class="text-sm/6 justify-self-center text-gray-600">
              <label class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-indigo-500"> 
                <span>Upload a file</span>
                <input type="file" class="sr-only">
              </label> 
              <p class="text-xs/5 text-gray-600">PNG, JPG, GIF</p>
              <p class="text-xs/5 text-gray-600">up to 10MB</p>
            </div>
          </div>
        </div>
      </div>
       <div class="col-span-2 text-left">
        <strong>N° {{ p.id }}</strong>
        <br>
        <strong>{{ p.nome }}</strong>
        <br>
        <span>E-mail: <strong> {{ p.email }}</strong></span>
        <br>
        <span></span>
        <span class="flex items-center gap-1"> 
          Telefone: <strong> {{ p.telefone }}</strong>
          <a target="_blank" rel="noopener noreferrer" style="color: #0DD940" class="ml-1 -translate-y-0.5" href="https://web.whatsapp.com/send?phone={{ p.telefone }}">
            <img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp" style="width: 20px; height: auto;" title="Conversar no WhatsApp">
          </a>
        </span>
        <span>Nascimento: <strong> {{ p.data_nascimento|date:"d/m/Y" }}</strong></span> 
        <br>
        {% if p.pf_ou_pj == "PF" %}
        <span>Categoria: <strong> Pessoa Física</strong></span> 
        {% endif %}

        {% if p.pf_ou_pj == "PJ" %}
        <span>Categoria: <strong> Pessoa Jurídica</strong></span>
        {% endif %}
        
        <br><br>
        <strong>Observação: </strong><span> {{ p.observacao }}</span>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
<!-- Scripts -->
    <script>lucide.createIcons();</script> 
</body>
</html>
