<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="h-screen>
    <div class="h-full flex flex-col relative">
        <nav class="text-white p-4 flex items-center justify-between">
        
        </nav>
        <div class="flex flex-1">
            <aside class="w-56 p-4 text-gray-900">
                <ul class="overflow-y-auto space-y-2">
                    <li
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                        <a href="#" class="flex items-center gap-2">
                            <i data-lucide="shield" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Início</span>
                        </a>
                    </li>
                    <li
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                        <a href="#" class="flex items-center gap-2">
                            <i data-lucide="user-round" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Professores</span>
                        </a>
                    </li>
                    <li
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                        <a href="#" class="flex items-center gap-2">
                            <i data-lucide="chart-pie" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Relatórios</span>
                        </a>
                    </li>
                    <hr>
                    <li
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                        <a href="#" class="flex items-center gap-2">
                            <i data-lucide="log-out" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Sign-out</span>
                        </a>
                    </li>

                </ul>
            </aside>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script>
        // Função para mostrar/ocultar o dropdown
        function toggleDropdown(event) {
            event.stopPropagation();  // Impede o fechamento ao clicar no próprio botão
            document.getElementById("dropdown").classList.toggle("hidden");
        }

        // Fecha o dropdown ao clicar fora
        document.addEventListener("click", function (event) {
            const dropdown = document.getElementById("dropdown");
            const trigger = document.querySelector(".flex.gap-4");

            if (!trigger.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add("hidden");
            }
        });
    </script>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    {% block scripts %}{% endblock %}

</body>

</html>
