<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Adicionar Professor</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 
    <script src="{% static 'js/fixes.js' %}" defer></script>
    <link type="image/x-icon" rel="icon" href="{% static 'img/senai-icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css">
</head>

<body>
    <!-- Navbar -->
    <div class="bg-blue-700 pb-80 relative z-0 flex flex-col justify-left">
      <div>
        <img class=" absolute -translate-x-15" src="{% static 'img/senai.png' %}" title="Serviço Nacional de Aprendizagem Industrial">
      </div>
      <!-- Nav Query -->
      <div class="flex translate-x-120 mt-4 absolute hover:text-white gap-10 align-left">
        <span class="flex opacity-65 bg-blue-800 p-4 rounded-xs">
          <img class="w-25 h-25 mr-3" src="{% static 'img/tape.png' %}">
          <div class="ml-2 translate-y-1.5 text-white">
            {% if last_record == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Cadastro<br>Realizado</p>
            {% endif %}

            {% if last_record == 1 %}
            <strong class="text-5xl">{{ last_record }}</strong>
            <p class="text-xl">Cadastro</p>
            {% endif %}

            {% if last_record > 1 %}
            <strong class="text-5xl">{{ last_record }}</strong>
            <p class="text-xl">Cadastros<br>Realizados</p> 
            {% endif %} 
          </div>
        </span>
        <!-- Nav Query -->
         <span class="flex opacity-65 bg-blue-800 p-4 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/cpf.png' %}">
          <div class="ml-2 translate-y-1.5 text-white">
             {% if teacher_cpf_percentage == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Pessoa Física</p>
            {% endif %}
 
            {% if teacher_cpf_percentage > 0 %}
            <strong class="text-5xl">{{ teacher_cpf_percentage }}%</strong>
            <p class="text-xl">Pessoa Física</p> 
            {% endif %}  
          </div>
        </span>

        <!-- Nav Query -->
         <span class="flex opacity-65 bg-blue-800 p-4 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/encpj.webp' %}">
          <div class="ml-2 translate-y-1.5 text-white">
            {% if teacher_cnpj_percentage == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Pessoa Jurídica</p>
            {% endif %}
 
            {% if teacher_cnpj_percentage > 0 %}
            <strong class="text-5xl">{{ teacher_cnpj_percentage }}%</strong>
            <p class="text-xl">Pessoa Jurídica</p> 
            {% endif %} 
          </div>
        </span>
      </div>
      <!-- Nav Query -->
      <div class=" absolute self-left translate-x-20 translate-y-30">
        <img class="avatar-preview rounded-full w-[120px] h-[120px] border border-dashed border-white">
        <div class="text-center">
          <div class="mt-4 flex flex-col justify-left text-sm text-gray-600"> 
            <strong class="text-2xl text-white -translate-x-3 -translate-y-1">{{ user_name }}</strong>
            <strong class="text-md text-gray-400 -translate-x-3">{{ user_email }}</strong>
            

          </div>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col">
        <div class="flex flex-1 bg-gray-50 pb-100">
            <!-- Barra lateral -->
            <aside class="w-56 p-4 text-gray-900 translate-x-3 flex flex-col justify-items-center">
                <ul class="space-y-2">
                    <!-- Links de navegação -->
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="house" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Home</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menucriarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="user-plus" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Adicionar professor</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menulistarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="list" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Listar professor</span>
                        </a>
                    </li>
                    <li>
                        <!-- Dropdown -->
                        <div class="flex flex-col hover:bg-blue-700 hover:text-white rounded-lg transition-all align-center">
                            <div class="w-full">
                                <button 
                                    id="menu-button" 
                                    aria-expanded="true" 
                                    aria-haspopup="true" 
                                    class="flex items-center w-full p-3 rounded-lg cursor-pointer">
                                    <i data-lucide="dollar-sign" class="wr-2 duration-700 transition-all"></i>
                                    <span class="ml-2 whitespace-nowrap text-sm">Contratos</span>
                                    <i data-lucide="chevron-down" class="translate-x-13"></i>
                                </button>
                            </div>
                            <div 
                                id="dropdown" 
                                class="hidden -translate-y-1 underline hover:text-white rounded-lg transition-all" 
                                role="menu" 
                                aria-orientation="vertical" 
                                aria-labelledby="menu-button">
                                <div class="py-2" role="none">
                                    <a 
                                        href="{% url 'menuhistoricopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Histórico</a>
                                    <a 
                                        href="{% url 'menugerarcontratopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Gerar contrato</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <a 
                        href="{% url 'menuiniciopage' %}" 
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-green-700 hover:text-white transition-all">
                        <i data-lucide="wrench" class="duration-700 transition-all"></i>
                        <span class="flex-1 ml-2 whitespace-nowrap text-sm">Configurações</span>
                      </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-red-700 hover:text-white transition-all">
                            <i data-lucide="door-open" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Sair</span>
                        </a>
                    </li>
                </ul>
            </aside>

            <!-- Conteúdo principal -->
            <div class="w-4/5 rounded-4xl shadow-xl h-dvh absolute translate-x-50 -translate-y-35 ml-20 bg-white z-10">
              <div class="px-6 py-4 grid grid-rows-1">
                <div class="font-bold text-xl row-span-1">
                  <h2>Adicionar professor</h2>
                  <p class="text-gray-700 text-base">
                    Cadastre um novo professor no sistema, preenchendo o formulário.
                  </p>
                </div>
                <form id="professor-form" method="post">
                {% csrf_token %}
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                      <label for="country" class="block text-sm/6 font-medium text-gray-900">Pessoa Física ou Jurídica</label>
                        <div class="mt-2 grid grid-cols-1"> 
                          {{ form.pf_ou_pj }}
                        <svg
             class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4"
             viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
             <path fill-rule="evenodd"
               d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
               clip-rule="evenodd" />
           </svg>
         </div>
       </div>

       <div class="sm:col-span-3">
         <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Data de nascimento</label>
         <div class="mt-2">
             
           {{ form.data_nascimento }}
         </div>
       </div>
       
       <div class="sm:col-span-full">
         <label for="email" class="block text-sm/6 font-medium text-gray-900">Nome completo</label>
         <div class="mt-2">
          
           {{ form.nome }}
         </div>
       </div>
 
       <div class="sm:col-span-full">
         <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
         <div class="mt-2">
           
           {{ form.email }}
         </div>
       </div>

       <div class="sm:col-span-2 sm:col-start-1">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Telefone</label>
         <div class="mt-2">
           
           {{ form.telefone }}
         </div>
       </div>
         
       <div class="sm:col-span-2">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Campo de CPF</label>
         <div class="mt-2">
           
           {{ form.cpf }}
           </div>
       </div>

       <div class="sm:col-span-2">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Campo de CNPJ</label>
         <div class="mt-2">
           
           {{ form.cnpj }}
         </div>
       </div>

       <div class="sm:col-span-full">
         <label for="about" class="block text-sm/6 font-medium text-gray-900">Observação</label>
         <div class="mt-2">
           
           {{ form.observacao }}
         </div> 
       </div>  
       <button type="submit" class="col-start-3 place-self-center translate-x-24 px-2 pr-3 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded-xl border-b-5 border-blue-700 flex items-center justify-center">
         <i data-lucide="file-pen-line" class="m-1 mr-2"></i>
         <span>Cadastrar</span>
       </button>
       <!--
       <button class="sm:col-span-1 translate-x-90 bg-green-600 hover:bg-green-700 text-white font-bold py-2 rounded border-b-5 border-green-700 flex items-center justify-center">
         <i data-lucide="cloud-upload" class="w-6 h-6 m-1"></i>
         <span>Upload nuvem</span>
       </button>
       -->
    </form>
  </div> 
  
</div>
        </div>
    </div>

    <!-- Scripts -->
    <script>lucide.createIcons();</script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
</body>
</html>






