<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="h-full flex flex-col relative z-0 overflow-visible">
        <nav class="relative bg-blue-700 pb-10 mb-10 flex items-center justify-between z-0">
        
        </nav>
        <div class="flex flex-1 relative">
            <aside class="w-56 p-4 text-gray-900">
                <ul class="space-y-2">
                <a href="{% url 'menuiniciopage' %}" class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                    <li class="flex items-center gap-1">
                       
                            <i data-lucide="shield" class="duration-700 transition-all"></i>
                            <span class="flex-1 whitespace-nowrap">Início</span>
                     
                    </li>
                </a>
                <a href="{% url 'menucriarprofessorpage' %}" class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                    <li class="flex items-center gap-1">
                       
                            <i data-lucide="clipboard-pen" class="duration-700 transition-all"></i>
                            <span class="flex-1 whitespace-nowrap">Cadastrar professor</span>
                     
                    </li>
                </a>
                <a href="{% url 'menuiniciopage' %}" class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                    <li class="flex items-center gap-1">
                       
                            <i data-lucide="scroll-text" class="duration-700 transition-all"></i>
                            <span class="flex-1 whitespace-nowrap">Listar professor</span>
                     
                    </li>
                </a>
                <a href="{% url 'menuiniciopage' %}" class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                    <li class="flex items-center gap-1">
                       
                            <i data-lucide="chart-pie" class="duration-700 transition-all"></i>
                            <span class="flex-1 whitespace-nowrap">Relatório</span>
                     
                    </li>
                </a>
                    <hr>
                    <a href="{% url 'menuiniciopage' %}" class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-red-700 hover:text-white transition-all">
                        <li class="flex items-center gap-1">
                           
                                <i data-lucide="log-out" class="duration-700 transition-all"></i>
                                <span class="flex-1 whitespace-nowrap">Sair</span>
                         
                        </li>
                    </a>
                </ul>
            </aside>
                       {% block content %}
                {% endblock %}
            </div>
    </div>
    
    <!-- dropdown logic
    <script>
        // Função para mostrar/ocultar o dropdown
        function toggleDropdown(event) {
            event.stopPropagation();  // Impede o fechamento ao clicar no próprio botão
            document.getElementById("dropdown").classList.toggle("hidden");
        }

        // Fecha o dropdown ao clicar fora
        document.addEventListener("click", function (event) {
            const dropdown = document.getElementById("dropdown");
            const trigger = document.querySelector(".flex.gap-4");

            if (!trigger.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add("hidden");
            }
        });
    </script>
    -->

       <script>
        lucide.createIcons();
    </script>
</body>

</html>
