{% extends "menu.html" %}
{% load static %}

{% block content %}
<div class="w-4/5 rounded-4xl shadow-xl h-dvh absolute translate-x-50 -translate-y-35 ml-20 bg-white z-10">
  <div class="px-6 py-4 grid grid-rows-1">
    <div class="font-bold text-xl row-span-1">
      <h2>Histórico</h2>
      <p class="text-gray-700">Lista todos os contratos gerados.</p>
    </div>

    <div class="m-2 mt-10">
      <table class="table-fixed rounded-lg shadow-xl overflow-hidden w-full" id="table_history">
        <thead class="bg-indigo-200 overflow-hidden">
          <tr>
            <th class="">Prestador</th>
            <th class="">Modalidade</th>
            <th class="">Data de Início</th>
            <th class="">Data de término</th>
            <th class="">Ações</th>
          </tr>
        </thead>
        <tbody id="table_body" class="">
          {% for c in contratos %}
          <tr id="{{ c.id }}" class="odd:bg-gray-100 text-center">
            <td class="-translate-x-3">{{ c.prestador }}</td>
            <td class="-translate-x-3">{{ c.modalidade }}</td>
            <td class="-translate-x-3">{{ c.data_inicio|date:"d/m/Y" }}</td>
            <td class=""><strong>{{ c.data_termino|date:"d/m/Y" }}</strong></td>
            <td class="flex gap-3 justify-center -translate-x-2">
              <a href="#" class="hover:text-orange-600"><i data-lucide="download"></i></a>
              <a href="#" class="hover:text-red-700"><i data-lucide="trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

