<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Adicionar Professor</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 
    <script src="{% static 'js/fixes.js' %}" defer></script> 
    <link type="image/x-icon" rel="icon" href="{% static 'img/senai-icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css">
    <script src="{% static 'js/phones.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <div class="bg-blue-700 pb-80 relative z-0 flex flex-col justify-left">
      <div>
        <img class=" absolute -translate-x-15" src="{% static 'img/senai.png' %}" title="Serviço Nacional de Aprendizagem Industrial">
      </div> 
      <!-- Nav Query -->
      <div class=" absolute self-left translate-x-20 translate-y-30">
        <img class="avatar-preview rounded-full w-[120px] h-[120px] border border-dashed border-white">
        <div class="text-center">
          <div class="mt-4 flex flex-col justify-left text-sm text-gray-600"> 
            <strong class="text-2xl text-white -translate-x-3 -translate-y-1">{{ user_name }}</strong>
            <strong class="text-md text-gray-400 -translate-x-3">{{ user_email }}</strong>
            

          </div>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col">
        <div class="flex flex-1 bg-gray-50 pb-100">
            <!-- Barra lateral -->
            <aside class="w-56 p-4 text-gray-900 translate-x-3 flex flex-col justify-items-center">
                <ul class="space-y-2">
                    <!-- Links de navegação -->
                    <li>
                        <a 
                            href="{% url 'menuhomepage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="house" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Home</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menucriarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="user-plus" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Adicionar professor</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menulistarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="list" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Listar professor</span>
                        </a>
                    </li>
                    <li>
                        <!-- Dropdown -->
                        <div class="flex flex-col hover:bg-blue-700 hover:text-white rounded-lg transition-all align-center">
                            <div class="w-full">
                                <button 
                                    id="menu-button" 
                                    aria-expanded="true" 
                                    aria-haspopup="true" 
                                    class="flex items-center w-full p-3 rounded-lg cursor-pointer">
                                    <i data-lucide="dollar-sign" class="wr-2 duration-700 transition-all"></i>
                                    <span class="ml-2 whitespace-nowrap text-sm">Contratos</span>
                                    <i data-lucide="chevron-down" class="translate-x-13"></i>
                                </button>
                            </div>
                            <div 
                                id="dropdown" 
                                class="hidden -translate-y-1 underline hover:text-white rounded-lg transition-all" 
                                role="menu" 
                                aria-orientation="vertical" 
                                aria-labelledby="menu-button">
                                <div class="py-2" role="none">
                                    <a 
                                        href="{% url 'menuhistoricopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Histórico</a>
                                    <a 
                                        href="{% url 'menugerarcontratopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Gerar contrato</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <a 
                        href="{% url 'menuhomepage' %}" 
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-green-700 hover:text-white transition-all">
                        <i data-lucide="wrench" class="duration-700 transition-all"></i>
                        <span class="flex-1 ml-2 whitespace-nowrap text-sm">Configurações</span>
                      </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menuhomepage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-red-700 hover:text-white transition-all">
                            <i data-lucide="door-open" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Sair</span>
                        </a>
                    </li>
                </ul>
            </aside>

            <!-- Conteúdo principal -->
            <div class="w-4/5 rounded-4xl shadow-xl h-dvh absolute translate-x-50 -translate-y-35 ml-20 bg-white z-10">
              <div class="px-6 py-4 grid grid-rows-1">
                <div class="font-bold text-xl row-span-1">
                  <h2>Adicionar professor</h2>
                  <p class="text-gray-700 text-base">
                    Cadastre um novo professor no sistema, preenchendo o formulário.
                  </p>
                </div>
                <form id="professor-form" method="post">
                {% csrf_token %}
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                      <label for="country" class="block text-sm/6 font-medium text-gray-900">Pessoa Física ou Jurídica</label>
                        <div class="mt-2 grid grid-cols-1"> 
                          {{ form.pf_ou_pj }}
                        <svg
             class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4"
             viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
             <path fill-rule="evenodd"
               d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
               clip-rule="evenodd" />
           </svg>
         </div>
       </div>

       <div class="sm:col-span-3">
         <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Data de nascimento</label>
         <div class="mt-2">
             
           {{ form.data_nascimento }}
         </div>
       </div>
       
       <div class="sm:col-span-full">
         <label for="email" class="block text-sm/6 font-medium text-gray-900">Nome completo</label>
         <div class="mt-2">
          
           {{ form.nome }}
         </div>
       </div>
 
       <div class="sm:col-span-full">
         <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
         <div class="mt-2">
           
           {{ form.email }}
         </div>
       </div>

       <div class="sm:col-span-2">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Telefone</label>
         <div class="mt-2">
           
           {{ form.telefone }}
         </div>
       </div>
         
       <div class="sm:col-span-2">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Campo de CPF</label>
         <div class="mt-2">
           
           {{ form.cpf }}
           </div>
       </div>

       <div class="sm:col-span-2">
         <label for="city" class="block text-sm/6 font-medium text-gray-900">Campo de CNPJ</label>
         <div class="mt-2">
           
           {{ form.cnpj }}
         </div>
       </div>

       <div class="sm:col-span-full">
         <label for="about" class="block text-sm/6 font-medium text-gray-900">Observação</label>
         <div class="mt-2">
           
           {{ form.observacao }}
         </div> 
       </div>  
       <button type="submit" class="col-start-3 place-self-center translate-x-24 px-2 pr-3 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded-xl border-b-5 border-blue-700 flex items-center justify-center">
         <i data-lucide="file-pen-line" class="m-1 mr-2"></i>
         <span>Cadastrar</span>
       </button>
    </form>
  </div> 
  
</div>
        </div>
    </div>
    <footer class="bg-gray-100 flex flex-row justify-between text-xs align-top text-center divide-x-gray-500 border-solid"> 
      <div class="flex flex-col p-3 items-center self-center">
        <small class="translate-x-1">Developer socials ↓</small>
        <div class="flex flex-row gap-3 mt-1 align-center">
          <span>
            <a href="https://github.com/hgrgustavo">
              <img src="{% static 'img/github.png' %}" class="w-5 h-auto hover:opacity-50">
            </a> 
          </span>
          <span>
            <a href="https://x.com/hgrgustavo1">
              <img src="{% static 'img/twitter.png' %}" class="w-5 h-auto hover:opacity-50">
            </a>
          </span>
        </div>
      </div> 
      <div class="self-center text-center">
        <a href="/about/policies" class="text-[#699eca] hover:underline mx-4">Policies</a>
        <a href="/about/policies/coc/" class="text-[#699eca] hover:underline">Code of Conduct</a>
        <a href="/about/" class="text-[#699eca] hover:underline mx-4">About</a>
        <a href="/about/contact/" class="text-[#699eca] hover:underline">Contact</a>
        <br>
        <p class="mt-1">Copyright © 1996-2025<a href="https://senaigoias.com.br/escola-senai-itumbiara" class="ml-2 hover:underline hover:text-[#699eca]">Serviço Nacional de Aprendizagem Industrial</a></p> 
      </div>
      <div class="flex flex-col p-3 items-center text-center self-center">
        Utils
      </div>
    </footer>

    <!-- Scripts -->
    <script>lucide.createIcons();</script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
</body>
</html>






