{% extends "menu.html" %}
{% load static %}


{% block content %}
<div class="w-4/5 rounded shadow-lg ml-5 h-dvh overflow-auto">
  <div class="px-6 py-4 grid grid-rows-1">
    <div class="font-bold text-xl row-span-1">
      <h2>Gerar contrato</h2>
      <p class="text-gray-700 text-base">
        Preencha os campos e gere um contrato hora-aula.
      </p>
    </div>
    <form id="professor-form" method="post">
      {%csrf_token %}
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="country" class="block text-sm/6 font-medium text-gray-900">Processo</label>

          <div class="mt-2 grid grid-cols-1">
            {{ form.processo }}
            
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Evento</label>
          <div class="mt-2">

            {{ form.evento }}
          </div>
        </div>

        <div class="sm:col-span-full">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Prestador</label>
          <div class="mt-2">

            {{ form.prestador }}
          </div>
        </div>

        <div class="sm:col-span-full">
          <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Serviço</label>
          <div class="mt-2">

            {{ form.servico }}
          </div>
        </div>

        <div class="sm:col-span-full">
          <label for="city" class="block text-sm/6 font-medium text-gray-900">Componentes</label>
          <div class="mt-2">

            {{ form.componentes }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="city" class="block text-sm/6 font-medium text-gray-900">Data início</label>
          <div class="mt-2">

            {{ form.data_inicio }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="city" class="block text-sm/6 font-medium text-gray-900">Data término</label>
          <div class="mt-2">

            {{ form.data_termino }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="about" class="block text-sm/6 font-medium text-gray-900">Carga horária</label>
          <div class="mt-2">

            {{ form.carga_horaria }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="about" class="block text-sm/6 font-medium text-gray-900">Valor hora-aula</label>
          <div class="mt-2">

            {{ form.valor_hora_aula }}
          </div>
        </div>
        
        <button id="generatepdf" type="submit"
          class="sm:col-span-1 p-1 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded border-b-5 border-blue-700 flex items-center justify-center">
          <i data-lucide="file-pen-line" class="w-6 h-6 mr-2 m-1"></i>
          <span>Gerar contrato</span>
        </button> 
    </form>
  </div>
</div>
{% endblock %}
