<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/lucide@latest"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="{% static 'js/fixes.js' %}" defer></script>
    <link type="image/x-icon" rel="icon" href="{% static 'img/senai-icon.png' %}">

</head>

<body>
    <!-- Navbar -->
    <div class="bg-blue-700 pb-80 relative z-0 flex flex-col justify-left">
      <div>
        <img class=" absolute brightness-50" src="{% static 'img/senai.png' %}" title="Serviço Nacional de Aprendizagem Industrial">
      </div>
      <div class="flex translate-x-120 mt-4 absolute hover:text-white gap-10">
        <!-- Nav Query -->
        <span class="flex opacity-65 bg-blue-800 p-5 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/group.png' %}">
          <div class="ml-2 translate-y-1.5 text-white">
            {% if teacher_quantity == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Professor</p>
            {% endif %}

            {% if teacher_quantity == 1 %}
            <strong class="text-5xl">{{ teacher_quantity }}</strong>
            <p class="text-xl">Professor</p>
            {% endif %}

            {% if teacher_quantity > 1 %}
            <strong class="text-5xl">{{ teacher_quantity }}</strong>
            <p class="text-xl">Professores</p> 
            {% endif %} 
          </div>
        </span>
        <!-- Nav Query -->
         <span class="flex opacity-65 bg-blue-800 p-5 rounded-xs">
          <img class="w-25 h-25" src="{% static 'img/contract.png' %}">
          <div class="ml-2 translate-y-1.5 text-white">
            {% if contract_quantity == 0 %}
            <strong class="text-5xl">Nenhum</strong>
            <p class="text-xl">Contrato</p>
            {% endif %}

            {% if contract_quantity == 1 %}
            <strong class="text-5xl">{{ contract_quantity }}</strong>
            <p class="text-xl">Contrato</p>
            {% endif %}

            {% if contract_quantity > 1 %}
            <strong class="text-5xl">{{ contract_quantity }}</strong>
            <p class="text-xl">Contratos</p> 
            {% endif %} 
          </div>
        </span>
      </div> 
      <!-- Nav Query -->
      <div class=" absolute self-left translate-x-20 translate-y-30">
        <img class="avatar-preview rounded-full w-[120px] h-[120px] border border-dashed border-white">
        <div class="text-center">
          <div class="mt-4 flex flex-col justify-left text-sm text-gray-600"> 
            <strong class="text-2xl text-white -translate-x-3 -translate-y-1">{{ user_name }}</strong>
            <strong class="text-md text-gray-400 -translate-x-3">{{ user_email }}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="h-full flex flex-col">
        <div class="flex flex-1 bg-gray-50 pb-100">
            <!-- Barra lateral -->
            <aside class="w-56 p-4 text-gray-900 translate-x-3 flex flex-col justify-items-center">
                <ul class="space-y-2">
                    <!-- Links de navegação -->
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="house" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Home</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menucriarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="user-plus" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Adicionar professor</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menulistarprofessorpage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-blue-700 hover:text-white transition-all">
                            <i data-lucide="list" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Listar professor</span>
                        </a>
                    </li>
                    <li>
                        <!-- Dropdown -->
                        <div class="flex flex-col hover:bg-blue-700 hover:text-white rounded-lg transition-all align-center">
                            <div class="w-full">
                                <button 
                                    id="menu-button" 
                                    aria-expanded="true" 
                                    aria-haspopup="true" 
                                    class="flex items-center w-full p-3 rounded-lg cursor-pointer">
                                    <i data-lucide="dollar-sign" class="wr-2 duration-700 transition-all"></i>
                                    <span class="ml-2 whitespace-nowrap text-sm">Contratos</span>
                                    <i data-lucide="chevron-down" class="translate-x-13"></i>
                                </button>
                            </div>
                            <div 
                                id="dropdown" 
                                class="hidden -translate-y-1 underline hover:text-white rounded-lg transition-all" 
                                role="menu" 
                                aria-orientation="vertical" 
                                aria-labelledby="menu-button">
                                <div class="py-2" role="none">
                                    <a 
                                        href="{% url 'menuhistoricopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Histórico</a>
                                    <a 
                                        href="{% url 'menugerarcontratopage' %}" 
                                        class="block px-4 py-1 text-sm underline">Gerar contrato</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <a 
                        href="{% url 'menuiniciopage' %}" 
                        class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-green-700 hover:text-white transition-all">
                        <i data-lucide="wrench" class="duration-700 transition-all"></i>
                        <span class="flex-1 ml-2 whitespace-nowrap text-sm">Configurações</span>
                      </a>
                    </li>
                    <li>
                        <a 
                            href="{% url 'menuiniciopage' %}" 
                            class="flex items-center p-3 rounded-lg cursor-pointer hover:bg-red-700 hover:text-white transition-all">
                            <i data-lucide="door-open" class="duration-700 transition-all"></i>
                            <span class="flex-1 ml-2 whitespace-nowrap text-sm">Sair</span>
                        </a>
                    </li>
                </ul>
            </aside> 
            <!-- Conteúdo principal -->
            <div class="w-4/5 rounded-4xl shadow-xl h-dvh absolute translate-x-50 -translate-y-35 ml-20 bg-white z-10">
              <div class="px-6 py-4 grid grid-rows-1" >
                <div class="font-bold text-xl row-span-1 mt-1">
                  Bem-vindo, {{ user_name }}!
                  <p class="text-gray-700 text-base">
                    Inicio do website controle de docentes extraquadro. Explore as outras opções!         
                  </p>
                </div>
                <div class="flex justify-center mt-25">
                  <img class="w-50 h-50" src="{% static 'img/trophy.png' %}">
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>lucide.createIcons();</script>
</body>
</html>



